input.selection.ng-untouched.ng-pristine.ng-valid {
  width: 300px !important;
}

.form-group my-date-range-picker {
  width: 300px !important;
}

.selectiongroup.ng-star-inserted {
  width: 300px !important;
}

.mydrp {
  width: 300px !important;
}
