<div ngbDropdown container="body" class="dropdown-primary">
  @if (loading) {
    <button class="btn btn-primary btn-sm" type="button">
      <i _ngcontent-ng-c2830628797="" class="fa fa-spinner fa-pulse fa-1x fa-fw"></i>
    </button>
  } @else {
    <button
      ngbDropdownToggle
      class="btn btn-primary btn-sm"
      type="button"
      [disabled]="buttonDisabled"
    >
      <i class="mdi mdi-chevron-down"></i>
    </button>
  }
  <div ngbDropdownMenu>
    <ng-content></ng-content>
  </div>
</div>
