.table {
  font-size: 10px;
  td {
    padding: 0.5rem;
    vertical-align: middle;
    word-wrap: break-word;
    white-space: normal;
  }
}

.form-control-sm {
  font-size: 11px !important;
  padding: 2px 5px !important;
  height: 22px !important;
  border-radius: 5px !important;
}

.selector {
  left: 0 !important;
}
