<div class="row">
  <div class="col-lg-6 d-flex flex-column">
    <app-tipos-contrato class="d-flex flex-column flex-grow-1"></app-tipos-contrato>
  </div>
  <div class="col-lg-6 d-flex flex-column">
    <app-tipos-documento class="d-flex flex-column flex-grow-1"></app-tipos-documento>
  </div>
  <div class="col-lg-6 d-flex flex-column">
    <app-tipos-salario class="d-flex flex-column flex-grow-1"></app-tipos-salario>
  </div>
  <div class="col-lg-6 d-flex flex-column">
    <app-tipos-termino class="d-flex flex-column flex-grow-1"></app-tipos-termino>
  </div>
</div>
