//
// _table.scss
//
.table {
  font-size: 0.75rem !important;
  th {
    font-weight: $fw-bold;
  }
  /* th,
      td {
          padding: 0.20rem !important;
      } */
}

.table-responsive .table thead tr th {
  vertical-align: middle !important;
}
.table-responsive .table tbody tr td {
  vertical-align: middle !important;
}

.rounded-top {
  border-top-left-radius: 0.5rem !important;
  border-top-right-radius: 0.5rem !important;
}

//Table centered
.table-centered {
  td,
  th {
    vertical-align: middle !important;
  }
}

.table-nowrap {
  th,
  td {
    white-space: nowrap;
  }
}
