<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body p-2">
        <p
          class="d-block text-c-blue f-24 f-w-600 text-center"
          style="font-size: 20px; margin-bottom: 0"
        >
          Estadísticas
        </p>
        <div class="text-center">
          <span>Total Radicaciones: {{ ConteoFacturas.total_radicaciones }}</span>
        </div>

        <div #feedbackChart *ngIf="ShowChart">
          <chart
            id="radicacionesChart"
            [type]="'doughnut'"
            [data]="estadisticasData"
            [options]="estadisticasOptions"
          ></chart>
        </div>
        <div class="row justify-content-center m-t-15">
          <div class="text-center col-auto b-r-default m-t-5 m-b-5" *ngFor="let l of Leyenda">
            <span>{{ l.porcentaje }}%</span>
            <p class="m-b-0">
              {{ l.nombre }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="card bg-primary text-white">
      <div class="card-body">
        <h5 class="card-title text-white">{{ ConteoFacturas.radicadas }}</h5>
        <p class="card-text">F. Radicadas</p>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card bg-primary text-white">
      <div class="card-body">
        <h5 class="card-title text-white">{{ ConteoFacturas.facturadas }}</h5>
        <p class="card-text">F. Facturadas</p>
      </div>
    </div>
  </div>
</div>
