.wizard-steps,
aw-wizard-step {
  border: 1px dashed #ccc;
  padding: 10px;
  background: #fafafa;
}

.card-header {
  background-color: #0281c7 !important;
  h4 {
    color: #ffffff !important;
  }
}

.card-dos {
  background-color: #ffffff;
}
