<app-card
  viewTitle="Reporte de horarios"
  [filterTemplate]="filterTemplate"
  [activeFilters]="urlFiltersService.activeFilters"
>
  <app-header-button
    filters
    icon="file-download"
    [text]="downloading ? 'Cargando...' : 'Descargar'"
    type="success"
    [class.disabled]="downloading"
    (click)="download()"
  ></app-header-button>
  @if (reporteHorarios.length && !loading) {
    <app-detalle-reporte
      [type]="turn_type_value"
      [reporteHorarios]="reporteHorarios"
      [permissions]="permission"
      (update)="getDiaries()"
    >
    </app-detalle-reporte>
  } @else {
    <app-not-data [loading]="loading"></app-not-data>
  }
</app-card>

<ng-template #filterTemplate>
  <ng-container [formGroup]="formFilters">
    <app-filter-roles-company
      *ngIf="defaultParams"
      [defaultValues]="defaultParams"
      [hideSelect]="{ position: true }"
      (newValues)="setFormFilters($event)"
    ></app-filter-roles-company>
    <mat-form-field class="col" appearance="outline">
      <mat-label>Rango de fechas</mat-label>
      <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
        <input
          matStartDate
          placeholder="Fecha de inicio"
          required
          formControlName="start"
          name="date_start"
        />
        <input
          matEndDate
          placeholder="Fecha de fin"
          required
          formControlName="end"
          name="date_end"
        />
      </mat-date-range-input>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker>
        <mat-date-range-picker-actions>
          <button mat-button matDateRangePickerCancel>Cancelar</button>
          <button mat-raised-button color="primary" matDateRangePickerApply>Aplicar</button>
        </mat-date-range-picker-actions>
      </mat-date-range-picker>
    </mat-form-field>
    <mat-form-field class="col" appearance="outline">
      <mat-label>Tipo de turno</mat-label>
      <mat-select formControlName="turn_type" name="tipo_turno">
        <mat-option value="Rotativo">Rotativo</mat-option>
        <mat-option value="Fijo">Fijo</mat-option>
      </mat-select>
    </mat-form-field>
  </ng-container>
</ng-template>
