hr.hr-custom {
  height: 50%;
  width: 1px;
  color: #c2c2c2;
  background-color: #919bae;
  margin-top: 10px !important;
}
/* .navbar {
    left: -8%;
    //text-align: center;
} */
/* .arrow-down{
    padding-left: 0;
} */
