<article>
  <div class="card-title">
    <h5 class="text-info">Descargar reporte ajuste</h5>
  </div>
  <div class="row">
    <mat-form-field class="col" appearance="outline">
      <mat-label>Rango de fechas</mat-label>
      <mat-date-range-input [formGroup]="formRange" [rangePicker]="picker">
        <input
          matStartDate
          placeholder="Fecha de inicio"
          formControlName="start"
          name="date_start"
        />
        <input matEndDate placeholder="Fecha de fin" formControlName="end" name="date_end" />
      </mat-date-range-input>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker>
        <mat-date-range-picker-actions>
          <button mat-button matDateRangePickerCancel>Cancelar</button>
          <button
            mat-raised-button
            color="primary"
            matDateRangePickerApply
            (click)="onFilterDate()"
          >
            Aplicar
          </button>
        </mat-date-range-picker-actions>
      </mat-date-range-picker>
    </mat-form-field>
    <mat-form-field class="col" appearance="outline">
      <mat-label>Tipo</mat-label>
      <mat-select [(ngModel)]="Filtros.tipo">
        <mat-option value="" selected>Todos</mat-option>
        <mat-option value="Entrada">Entrada</mat-option>
        <mat-option value="Salida">Salida</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="col" appearance="outline">
      <mat-label>Origen</mat-label>
      <mat-select [(ngModel)]="Filtros.origen">
        <mat-option value="" selected>Todos</mat-option>
        <mat-option value="Bodega_Nuevo">Bodega</mat-option>
        <mat-option value="Punto">Punto</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="col" appearance="outline">
      <mat-label>BodegaPunto</mat-label>
      <mat-select [(ngModel)]="Filtros.id">
        @for (item of BodegasPuntos; track $index) {
          <mat-option [value]="item.Id_Bodega_Punto">
            {{ item.Nombre_Bodega_Punto }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
    <div class="col">
      <button
        type="button"
        class="btn btn-primary w-100"
        [disabled]="Filtros.fechas == ''"
        (click)="DescargarReporte()"
      >
        <i class="ti-download mr-2"></i>
        Desacargar
      </button>
    </div>
  </div>
</article>
