<ng-template #restoreModal let-modal>
  <app-modal titleModal="Nueva contraseña" [canExit]="false">
    <div class="alert alert-danger" role="alert">
      <strong>Es necesario cambiar la contraseña</strong> para proteger tus datos.
    </div>
    <form [formGroup]="changeForm" (ngSubmit)="changePassword()">
      <div class="row">
        <mat-form-field appearance="outline" class="col-12">
          <mat-label>Ingresa tu nueva contraseña</mat-label>
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            formControlName="newPassword"
            placeholder="Ingresa tu nueva contraseña"
            autocomplete="off"
            required
            aria-label="Enter your password"
            (input)="onPasswordInput()"
          />
          <button
            mat-icon-button
            type="button"
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </mat-form-field>
        <div class="col-12">
          <ul class="list-group">
            @for (item of conditions; track $index) {
              <li
                [ngClass]="{
                  'list-group-item px-2 py-1': true,
                  'list-group-item-success': isRequirementMet(item.name),
                  'list-group-item-warning': !isRequirementMet(item.name)
                }"
              >
                {{ item.text }}
              </li>
            }
          </ul>
        </div>
      </div>
    </form>
    <button
      buttons
      type="button"
      [disabled]="!changeForm.valid"
      class="btn btn-primary"
      (click)="changePasswordPost()"
    >
      Cambiar contraseña
    </button>
  </app-modal>
</ng-template>
