<h4 class="card-title mb-4">Certificados carta de cesantías</h4>
<div *ngIf="!loading && layoffs.length > 0; else notData">
  <ul class="list-unstyled activity-wid">
    <li class="activity-list pb-1" *ngFor="let item of layoffs">
      <div class="activity-icon">
        <img
          [src]="item.person?.image | image: 'users'"
          alt="Imagen de {{ item.person?.full_names }}"
          class="img-thumbnail rounded-circle header-profile-user mx-auto d-block"
          [title]="item.person?.full_names"
          onerror="this.src='../../../../../assets/images/noprofile.png'"
        />
      </div>
      <div class="d-flex justify-content-between">
        <div class="card-title fw-bold">
          {{ item.person?.full_names }}
        </div>
        <div>
          <i
            *ngIf="item.state == 'aprobada'"
            title="Descargar comprobante"
            (click)="downloadComprobante(item)"
            role="button"
            class="text-info h3 mx-1"
            [class]="!item.downloading ? 'fa fa-cloud-download-alt' : 'fas fa-spinner fa-spin'"
          ></i>

          <i
            role="button"
            title="Descargar soportes"
            (click)="downloadSoporte(item.document)"
            class="fa fa-file-download text-primary h3 mx-1"
          ></i>
          <span *ngIf="item.state == 'pendiente'">
            <i
              role="button"
              title="Rechazar"
              (click)="cambiarEstado(item, 'rechazada')"
              class="fa fa-times text-danger h3 mx-1"
            ></i>

            <i
              role="button"
              title="Aprobar"
              (click)="cambiarEstado(item, 'aprobada')"
              class="fa fa-check text-success h3 mx-1"
            ></i>
          </span>
        </div>
      </div>
      <div class="card-text">
        {{ item.created_at | date: 'longDate' }}
        <small class="text-muted">{{ item.created_at | date: 'hh:mm aa' }} </small>
      </div>
      <span class="text-muted">{{ item.reason }}</span>
      <br />
      <strong
        [ngClass]="{
          'text-danger': item.state == 'rechazada',
          'text-warning': item.state == 'pendiente',
          'text-success': item.state == 'aprobada'
        }"
      >
        {{ item.state | uppercase }}
      </strong>
    </li>
  </ul>
  <mat-paginator
    *ngIf="paginationMaterial"
    [length]="paginationMaterial.total"
    [pageSize]="paginationMaterial.per_page"
    [pageIndex]="paginationMaterial.current_page - 1"
    [pageSizeOptions]="[5, 10, 25, 100]"
    (page)="handlePageEvent($event)"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
<ng-template #notData>
  <app-not-data [loading]="loading"></app-not-data>
</ng-template>
