<div id="accordion">
  <div class="row">
    <div class="col-lg-6 d-flex flex-column">
      <app-fondo-pension class="d-flex flex-column flex-grow-1"></app-fondo-pension>
    </div>
    <div class="col-lg-6 d-flex flex-column">
      <app-fondo-cesantias class="d-flex flex-column flex-grow-1"></app-fondo-cesantias>
    </div>
    <div class="col-lg-6 d-flex flex-column">
      <app-eps class="d-flex flex-column flex-grow-1"></app-eps>
    </div>
    <div class="col-lg-6 d-flex flex-column">
      <app-caja-compensacion class="d-flex flex-column flex-grow-1"></app-caja-compensacion>
    </div>
    <div class="col-lg-6 d-flex flex-column">
      <app-bancos class="d-flex flex-column flex-grow-1"></app-bancos>
    </div>
    <div class="col-lg-6 d-flex flex-column">
      <app-arl class="d-flex flex-column flex-grow-1"></app-arl>
    </div>
  </div>
</div>
