.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}

/* .tabla{
    thead {
        background: #cecece;
        th{
            border:1px solid #ccc;
            padding:3px; 
        }
    }
    tbody {
        background: #f3f3f3;
    }
    td{
        border:1px solid #ccc;
        padding:3px;
    }
    th, td, p, strong {
        white-space: normal;
        font-size: 10px; 
        margin: 0;     
        }
}
 */
